<template>
	<div class="w-full flex justify-between items-center pr-4r">
		<div
			class="bg-primary-black flex justify-center items-center h-17 w-17"
		>
			<img src="~/assets/images/gfinity-logo-neg.png" alt="ginity-logo" />
		</div>

		<div class=" flex items-center">
			<h1
				class=" text-sm font-akzidenzgrotesk font-bold text-primary-black tracking-tighter leading-none"
			>
				FIFA 19
			</h1>
			<img
				src="~/assets/images/gf-nav-def.png"
				alt="menu-icon"
				class=" ml-6"
			/>
		</div>
	</div>
</template>

<script>
export default {}
</script>
