@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
	font-family: "akzidenzgrotesk";
	src: url("/assets/fonts/akzidenzgrotesk-bold-webfont.ttf") format("ttf"),
	  url("/assets/fonts/akzidenzgrotesk-bold-webfont.ttf") format("ttf");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "akzidenzgrotesk";
	src: url("/assets/fonts/akzidenzgrotesk-medium-webfont.ttf") format("ttf"),
	  url("/assets/fonts/akzidenzgrotesk-medium-webfont.ttf") format("ttf");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "akzidenzgrotesk";
	src: url("/assets/fonts/akzidenzgrotesk-regular-webfont.ttf") format("ttf"),
	  url("/assets/fonts/akzidenzgrotesk-regular-webfont.ttf") format("ttf");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "akzidenzgrotesk";
	src: url("/assets/fonts/akzidenzgrotesk-light-webfont.ttf") format("ttf"),
	  url("/assets/fonts/akzidenzgrotesk-light-webfont.ttf") format("ttf");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
