<template>
	<div>
		<div class=" h-42 w-34 rounded border border-primary-light"></div>

		<div class=" mt-4">
			<h5 class=" text-xs font-akzidenzgrotesk">Team Leader /</h5>
			<nuxt-link to="/searching" class=" flex">
				<h2 class=" font-akzidenzgrotesk font-bold mr-3">
					Invite Player
				</h2>
				<img
					src="~/assets/svgs/black-arrow-right.svg"
					alt="arrow-right"
				/>
			</nuxt-link>
		</div>
	</div>
</template>

<script>
export default {}
</script>
