<template>
	<table class=" w-full">
		<tbody>
			<tr
				v-for="option in gameOptions"
				:key="option.id"
				class="border-t border-primary-light"
			>
				<td
					class="py-4 whitespace-nowrap font-akzidenzgrotesk font-bold text-sm"
				>
					{{ option.name }}
				</td>
				<td
					class=" px-6 py-4 whitespace-nowrap font-akzidenzgrotesk text-sm font-normal"
				>
					{{ option.value }}
				</td>
				<td>
					<img
						src="~/assets/svgs/arrow-down.svg"
						alt="arrow-down"
						class="py-4"
					/>
				</td>
			</tr>
		</tbody>
	</table>
</template>

<script>
export default {
	data() {
		return {
			gameOptions: [
				{
					id: 1,
					name: 'Type',
					value: 'Competitive'
				},
				{
					id: 2,
					name: 'Gamemode',
					value: 'Squad Battles'
				},
				{
					id: 3,
					name: 'Lobby Status',
					value: 'Invite Only'
				}
			]
		}
	}
}
</script>

<style scoped></style>
