<template>
	<div>
		<img
			src="~/assets/images/avatar-01.png"
			alt=""
			class=" h-42 w-34 object-cover rounded"
		/>

		<div class=" mt-4">
			<h5 class=" text-xs font-akzidenzgrotesk">Team Leader /</h5>
			<h2 class=" font-akzidenzgrotesk font-bold ">steveroesler</h2>
		</div>

		<div class=" flex mt-5 items-center">
			<button
				class="mr-3 border border-primary-black font-bold font-akzidenzgrotesk text-xs px-2 py-1"
			>
				READY
			</button>

			<div class=" flex items-center">
				<svg
					width="11"
					height="12"
					viewBox="0 0 11 12"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M10.5 5.15754V11.1086H8.30706L8.17358 10.044C7.38055 10.9594 6.22829 11.4466 5.04625 11.3665C4.39593 11.3719 3.74998 11.2554 3.13935 11.0226C2.5481 10.7951 2.00433 10.4517 1.53755 10.0109C1.04272 9.5296 0.660088 8.93707 0.418828 8.27853C0.13377 7.49749 -0.00642458 6.66733 0.00566507 5.83199C-0.0614032 4.27777 0.469242 2.75974 1.48034 1.61337C2.52241 0.515004 3.96502 -0.0693996 5.4467 0.00658533C6.62003 -0.0323315 7.77292 0.332574 8.72658 1.04471C9.63602 1.7645 10.2292 2.8343 10.3729 4.01362H7.13749C6.96481 3.16837 6.21781 2.58626 5.38949 2.65149C4.78266 2.62395 4.21159 2.9503 3.90846 3.49786C3.54482 4.21075 3.37349 5.01276 3.41267 5.81877C3.41267 7.77159 4.13941 8.748 5.5929 8.748C5.97882 8.7409 6.35436 8.61681 6.67348 8.39094C6.98912 8.19096 7.2172 7.87066 7.30911 7.49828H5.83444V5.15754H10.5Z"
						fill="#E94235"
					/>
				</svg>

				<h4
					class=" text-primary-red font-akzidenzgrotesk text-sm font-bold"
				>
					74
				</h4>
			</div>
		</div>
	</div>
</template>

<script>
export default {}
</script>
