<template>
	<div
		class="fixed inset-x-0 w-full bottom-0 flex justify-between items-center px-4 bg-primary-blue py-8 text-white"
	>
		<h2 class=" text-sm font-bold font-akzidenzgrotesk">Play Now</h2>
		<div class=" text-sm font-normal font-akzidenzgrotesk">
			4,021 in Queue
		</div>
		<div>
			<img src="~/assets/svgs/arrow-right.svg" alt="arrow-right" />
		</div>
	</div>
</template>

<script>
export default {}
</script>
