<template>
	<div class="h-screen bg-primary app_wrapper pb-20 overflow-y-auto">
		<Header />
		<div class=" px-4 max-w-sm mx-auto">
			<nuxt />
		</div>
		<Footer />
	</div>
</template>
<script>
export default {
	components: {
		Header: () => import('~/components/header/header.vue'),
		Footer: () => import('~/components/footer/footer.vue')
	}
}
</script>
<style scoped>
.app_wrapper {
	background-image: url('~assets/images/fifa19-ronaldo-fg-lg.png');
	background-repeat: no-repeat;
	background-position: right top; /* Center the image */
}
</style>
