<template>
	<div class="h-screen bg-primary app_wrapper overflow-auto">
		<Header />
		<div class="">
			<nuxt />
		</div>
	</div>
</template>
<script>
export default {
	components: {
		Header: () => import('~/components/header/header.vue')
	}
}
</script>
<style scoped>
.app_wrapper {
	background-image: url('~assets/images/fifa19-ronaldo-fg-lg-2.png');
	background-repeat: no-repeat;
	background-position: right; /* Center the image */
}
</style>
