<template>
	<div>
		<div class=" w-11/12 relative bg-primary-black-transparent h-[80vh]">
			<div
				class="bg-primary-black flex justify-center items-center h-17 w-17"
			>
				<img
					src="~/assets/svgs/arrow-back-white.svg"
					alt="arrow-back-white"
				/>
			</div>

			<div class=" mt-8 text-white px-4 pb-20">
				<h4 class=" font-akzidenzgrotesk font-bold text-base">
					Matchmaking Lobby
				</h4>

				<h1
					class="mt-6 font-akzidenzgrotesk text-5xl font-bold leading-extra-loose tracking-tightest"
				>
					A match has been found <br />for you!
				</h1>

				<h5
					class="font-akzidenzgrotesk text-lg mt-6 leading-snug tracking-tighter"
				>
					We’ve found a compatible opponent for you to play Squad
					Battles with in FIFA 19
				</h5>

				<div class="mt-16">
					<div class=" flex items-center">
						<div class=" w-1/4">
							<h5 class=" text-xs font-akzidenzgrotesk mr-10">
								Lobby
							</h5>
						</div>

						<div class="overflow-hidden w-3/4">
							<img
								src="~/assets/images/avatar-02.png"
								alt="avatar"
								class=" object-cover h-14 w-14 rounded-full "
							/>
						</div>
					</div>

					<div class=" flex mt-8 items-center">
						<div class=" w-1/4">
							<img
								src="~/assets/svgs/Rectangle.svg"
								alt="rectangle"
							/>
						</div>
						<div class=" w-3/4">
							<h5 class=" text-xs font-akzidenzgrotesk ml">
								By tapping accept, you agree to play a match
								that may last for up to 30 minutes.
							</h5>
						</div>
					</div>
				</div>
			</div>

			<div
				class=" w-3/4 absolute  flex justify-between items-center px-6 bg-primary-black py-8 text-white"
				style="bottom:-40px; right:-31px"
			>
				<h2
					class=" text-sm font-bold font-akzidenzgrotesk leading-none"
				>
					Accept
				</h2>
				<div class=" flex items-center">
					<div class=" text-sm font-normal font-akzidenzgrotesk mr-8">
						-00:17
					</div>
					<div>
						<img src="~/assets/svgs/arrow-right.svg" alt="close" />
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	layout: 'search'
}
</script>
