<template>
	<div>
		<div class=" flex py-4 items-center border-b border-primary-light">
			<img src="~/assets/svgs/arrow-left.svg" alt="arrow-left" />
			<h2 class=" font-akzidenzgrotesk font-bold ml-6 text-primary-black">
				Matchmaking Lobby
			</h2>
		</div>

		<div class=" flex items-center">
			<h2
				class=" font-akzidenzgrotesk font-bold text-4xl text-primary-black mr-4"
				style="letter-spacing:-2px;"
			>
				steveroesler’s lobby
			</h2>
			<img src="~/assets/svgs/lock.svg" alt="lock" />
		</div>

		<img src="~/assets/images/fifa.png" alt="fifa tag" class=" mt-1" />

		<div class="flex mt-5">
			<PlayerCard />
			<EmptyPlayerCard class="ml-5" />
		</div>

		<div class=" mt-7">
			<GameOptions />
		</div>
	</div>
</template>
<script>
export default {
	components: {
		PlayerCard: () => import('~/components/base/player-card.vue'),
		GameOptions: () => import('~/components/base/game-options.vue'),
		EmptyPlayerCard: () => import('~/components/base/empty-player-card.vue')
	}
}
</script>
<style scoped></style>
